# Ignore these specific folders
/ff2-venv
/data
/.vscode/settings.json

# Ignore all files in any folder with the name
__pycache__/

# Ignore these specific files
/.vscode/settings.json

# Ignore any file that end with
*.py[cod]
